<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994526129957-o3f3h13k4skgpa6uv420t8rv2mg6sb6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994526129957-o3f3h13k4skgpa6uv420t8rv2mg6sb6k</string>
	<key>API_KEY</key>
	<string>AIzaSyDJypUXyVb-OFbBJ4y72z4nevgi4qZRNic</string>
	<key>GCM_SENDER_ID</key>
	<string>994526129957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uxbert.FBTestProject</string>
	<key>PROJECT_ID</key>
	<string>lets-test-it-208f1</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-test-it-208f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994526129957:ios:316ca36e9ddeba169c34cc</string>
</dict>
</plist>